@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.container {
  cursor: pointer;

  p {
    font-family: 'Golos';
    font-size: 14px;
    font-weight: 400;
  }

}



.active {
  border-bottom: 1px solid $color-primary;
  font-weight: 500;
}