@import '../styles/mixins.scss' ;
@import '../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    background-color: #F0F2F5;
    width: 100%;
    z-index: 5;
}